/*
-------------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------
                        INDEX.HTML
-------------------------------------------------------------------
-------------------------------------------------------------------
-------------------------------------------------------------------
*/
/*CSS Youcode pour le fichier index.html*/
.index_youcodeLogo{
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

.index_construction{
    font-size: 5em;
    text-align: center;
    font-weight: 100;
}

/*Toast pour informer que nous sommes encore en dev et en Beta*/
.toast_beta{
    font-weight: bold;
    padding-left: 5px;
}

/*Animation of search.html and welcome.html content */
.index_swag { 
  -webkit-animation: fadeInUp 1.5s;
  -moz-animation: fadeInUp 1.5s;
  -o-animation: fadeInUp 1.5s;
  -ms-animation: fadeInUp 1.5s;
}

/******************************************************************
                        NAVBAR
******************************************************************/

.icon_style {
    width: 100%;
    text-align: center;
}

.scroll_text {
    margin-top: 80px;
    text-align: center;
}

.rotate_icon {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}










