<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$ Début la partie de présentation de YouCode.io $$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<div class="row index_swag container welcome_position_container">
    <div class="welcome_about">
        <div class="welcome_explanation">
            <p class="center-align welcome_text_explanation">Find talks or tutorials on Youtube easily</p>
        </div>
        <div class="row">
            <div class="col s12 m4 l4">
                <!-- Promo Content 1 goes here -->
                <center><i class="mdi-image-flash-on large red-text"></i></center>
                <p class="center-align welcome_text_about">Build by developers,<br>for developers</p>
                <p class="center-align welcome_text_description">We are like you, developers. We love learning new frameworks by ourselves. Youtube offers hundred of talks and tuts, but it could be difficult to find. This is what YouCode is all about.</p>
            </div>
            <div class="col s12 m4 l4">
                <!-- Promo Content 2 goes here -->
                <center><i class="mdi-file-cloud-done large red-text"></i></center>
                <p class="center-align welcome_text_about">Powered by<br>Google</p>
                <p class="center-align welcome_text_description">We are using all the latest technologies provided by Google to bring YouCode online. We're using Google App Engine to host the app written in Golang, Youtube API to search through it and AngularJS for easy rendering.</p>
            </div>
            <div class="col s12 m4 l4">
                <!-- Promo Content 3 goes here -->
                <center><i class="mdi-social-group large red-text"></i></center>
                <p class="center-align welcome_text_about">Open-source<br>Project</p>
                <p class="center-align welcome_text_description">We strongly believe that open-source code help everyone, that's why the whole project is hosted on <a href="https://github.com/youcodeio" target="_blank">Github</a>. Even the server-side code. You can fork it, and do whatever you want, especially learn !</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <!-- Promo Content 1 goes here -->
                <center><i class="mdi-action-stars large red-text"></i></center>
                <p class="center-align welcome_text_about">Learn from<br>the best</p>
                <p class="center-align welcome_text_description">There are many organizers who put their talks on Youtube. Speakers know their subject, and their goal is to teach you things. What are you waiting for?</p>
            </div>
            <div class="col s12 m6 l6">
                <!-- Promo Content 2 goes here -->
                <center><i class="mdi-image-switch-video large red-text"></i></center>
                <p class="center-align welcome_text_about">See developers<br>in action</p>
                <p class="center-align welcome_text_description">Talks are great. But sometimes, you need to have a more didactical point of view. By going through a tutorial, you'll start faster.</p>
            </div>
        </div>
    </div>
</div>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$ Fin de la partie de présentation de YouCode.io $$$$$$$$$$$$$$$$$$ -->
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
